body{
  background-color: black;
}

.wrapper{
  display:flex;
  flex-direction:row;
  justify-content: center;
  border: green solid 1px;
}

.yearFrame{
  width: 200px;
  display: flex;
  flex-direction: row;
  border: red solid 2px;
}

.pictureContainer{
  width: 1000px;
  display: flex;
  flex-direction:row;
  border: blue solid 2px;
  justify-content: space-between;
}
.pictureFrame{
  width:300px;
  height:300px;
  border: solid pink 1px;
  gap: 5px;
}

.pictureWrapper{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
