<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunar Tempest</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='photoStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navigation">
    </nav>

    <div class="wrapper">
      <div class="yearFrame">
        
        <div class="menuChoice">
          <form name="sortForm">
            <button class="sortBtn" id="sortBy">sort by</button>
            <div class="sortDropdown">
              <a href="{{url_for('yearSort')}}">Year</a>
              <a href="{{url_for('citySort')}}">City</a>
            </div>
          </form>
        </div>

        <ul id="sortedYear">
          <li><h1 class="yearBorder" id="yearSort">2024</h1></li>
        </ul>

        <ul id="sortedCity">
          <li><h3 class="yearBorder" id="citySort">Ashville</h3></li>
          <li><h1 class="yearBorder" id="citySort">Charleston</h1></li>
        </ul>

      </div>
      <div class="pictureWrapper">
        
        <!--new row-->

        <div class="pictureContainer">
          <div class="pictureFrame">
            <!-- Trigger/Open The Modal -->
            <button id="myBtn">Open Modal</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
            <span class="close">×</span>
            <p>Some text in the Modal..</p>
    </div>
</div>

 
          </div>

          <div class="pictureFrame">
            <img id='' src={{url_for('static', filename='images/DSCF1796.jpg')}} class="pictureFrame">
            <a href={{url_for('static', filename='images/DSCF1796.jpg')}} data-lightbox="roadtrip">Image #1</a> 
          </div>

          <div class="pictureFrame">
             
          </div>
        </div>

        <!--New row-->

        <div class="pictureContainer">
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
            <img id="myImg4" src={{url_for('static', filename='images/DSCF1796.jpg')}} class="pictureFrame" alt="">

            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- The Close Button -->
              <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img04">

            <!-- Modal Caption (Image Text) -->
              <div id="caption"></div>
            </div>
          </div>
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
             <img id="myImg5" src={{url_for('static', filename='images/DSCF1967.jpg')}} class="pictureFrame" alt="">

             <!-- The Modal -->
             <div id="myModal" class="modal">
 
             <!-- The Close Button -->
               <span class="close">&times;</span>
 
             <!-- Modal Content (The Image) -->
               <img class="modal-content" id="img05">
 
             <!-- Modal Caption (Image Text) -->
               <div id="caption"></div>
             </div>
          </div>
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
             <img id="myImg6" src={{url_for('static', filename='images/DSCF1975.jpg')}} class="pictureFrame" alt="">

             <!-- The Modal -->
             <div id="myModal" class="modal">
 
             <!-- The Close Button -->
               <span class="close">&times;</span>
 
             <!-- Modal Content (The Image) -->
               <img class="modal-content" id="img06">
 
             <!-- Modal Caption (Image Text) -->
               <div id="caption"></div>
             </div>
          </div>
        
        </div>
        
        <!--new row-->

        <div class="pictureContainer">
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
             <img id="myImg7" src={{url_for('static', filename='images/DSCF1981.jpg')}} class="pictureFrame" alt="">

             <!-- The Modal -->
             <div id="myModal" class="modal">
 
             <!-- The Close Button -->
               <span class="close">&times;</span>
 
             <!-- Modal Content (The Image) -->
               <img class="modal-content" id="img07">
 
             <!-- Modal Caption (Image Text) -->
               <div id="caption"></div>
             </div>
          </div>
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
             <img id="myImg8" src={{url_for('static', filename='images/DSCF1992.jpg')}} class="pictureFrame" alt="">

             <!-- The Modal -->
             <div id="myModal" class="modal">
 
             <!-- The Close Button -->
               <span class="close">&times;</span>
 
             <!-- Modal Content (The Image) -->
               <img class="modal-content" id="img08">
 
             <!-- Modal Caption (Image Text) -->
               <div id="caption"></div>
             </div>
          </div>
          <div class="pictureFrame">
             <!-- Trigger the Modal -->
             <img id="myImg9" src={{url_for('static', filename='images/DSCF1993.jpg')}} class="pictureFrame" alt="">

             <!-- The Modal -->
             <div id="myModal" class="modal">
 
             <!-- The Close Button -->
               <span class="close">&times;</span>
 
             <!-- Modal Content (The Image) -->
               <img class="modal-content" id="img09">
 
             <!-- Modal Caption (Image Text) -->
               <div id="caption"></div>
             </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="{{url_for('static', filename='lightbox-plus-jquery.js')}}"></script>
</html>
