<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunar Tempest</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='photoStyle.css')}}">
</head>
<body>
    <nav class="navigation">
    </nav>

    <div class="wrapper">
      <div class="yearFrame">

      </div>
      <div class="pictureWrapper">
     
        <div class="pictureContainer">
          <div class="pictureFrame">
          <!--modal-->
            <img src={{ url_for('static', filename='images/image01.jpg')}} class="pictureFrame">

              <!--open-->
              <div id="openModal" class="modal">
              <!--close-->
              <span class="close">&times;</span>

              <!--modal content-->
              <img class="modal-content" id="img01">
              </div>
          </div>
          <div class="pictureFrame">

          </div>
          <div class="pictureFrame">

          </div>
        </div>

        <div class="pictureContainer">
          <div class="pictureFrame">

          </div>
          <div class="pictureFrame">

          </div>
          <div class="pictureFrame">
        
          </div>
        
        </div>
        
        <div class="pictureContainer">
          <div class="pictureFrame">

          </div>
          <div class="pictureFrame">

          </div>
          <div class="pictureFrame">

          </div>
        </div>
      </div>
    </div>
</body>
</html>
