<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lunar Tempest</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navigation">
        <ul>
            <li>Home</li>
            <li>Photography</li>
            <li>Github</li>
        </ul>
    </nav>

<div class="dlWrapper">
    <div class="centerContainer">
        <form method="post">
            <h2>Youtube to MP3</h2>
            <h3>Link video below</h3>
            <label for="url"></label>
            <input type="text" id="userUrl" name="urlLink">
            <input type="submit" value="Submit"><br>
        </form>
        <h2>download button (unactive)</h2>
        {{ woowoo }}
        <h2>text where?</h2>
    </div>
</div>
    
</body>
  <scipt>
    console.log('hello world');
  </scipt>
</html>
